#about-1,
#home-1 {
    background: url('../../img/DSC_2580_DxO.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 500px;
}
body{
    background: linear-gradient(120deg, rgba(200,200,200,1), rgba(150,150,150,0.2));
}
.header-text {
    margin-top: 20%;
    color: white;
}
.errors ul {
    list-style-type: none;
}
.errors {
    margin-top: 3%;
}
.errors ul li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fas.fa-star {
    color: gold;
}
.review {
    display: inline-block;
}
.card-big-shadow {
    display: inline-block;
}

.carousel-control {
    background-color: teal !important;
}
.carousel-indicators .active {
    background-color: teal !important;
}
#map {
    width: 100%;
    height: 400px;
}
#review-2 .btn {
   display: block;
   margin: 0 auto;
   text-align: center;
}

/* Forms */

form .form-group input,
form .form-group textarea,
form .form-group select {
    box-shadow: 3px 3px 5px rgba(50,50,50,0.4);
    -webkit-box-shadow: 3px 3px 5px rgba(50,50,50,0.4);
    -moz-box-shadow: 3px 3px 5px rgba(50,50,50,0.4);
    -ms-box-shadow: 3px 3px 5px rgba(50,50,50,0.4);
    -o-box-shadow: 3px 3px 5px rgba(50,50,50,0.4);
}