{% extends 'breath/layout.html' %}
{% block title %} Breathtaking About Sevierville TN {% endblock %}
{% block content %}

<section id="about-1" data-type="background" data-speed="3">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <div class="header-text">
                        <h1>Simply Breathtaking Cabin</h1>
                        <p class="lead">Sevierville Tn.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<section id="about-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5 mt-5">
                <h1 class="text-center text-info">About Breathtaking</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1">
                <p class="text-center">
                    Breathtaking truly describes this amazing three bedroom, three bath log cabin. Situated on a large lot located high 
                    on Cove Mountain in beautiful and quiet Wears Valley. This cabin gives you the delight of gorgeous mountain and
                     valley views, close proximity to the Great Smoky Mountain National Park, yet is still a short drive to both Pigeon Forge and 
                     Gatlinburg. Wireless internet is available in the cabin to keep you connected to the rest of the world. Each room is exquisite: 
                     there are large closets, spacious bathrooms, comfortable beds, and exceptional amenities. Open the glass doors and behold 
                     the breathtaking views of the Great Smoky Mountains. You'll love the huge wrap around deck, open on one side of the cabin 
                     and featuring a screened in porch on the other side. There is plenty of deck furniture, including rockers, so you can relax and 
                     enjoy the mountain and valley views. The full glass double front doors, as well as vaulted ceiling, give ample light to the professionally
                    decorated family room. It features a leather sofa and loveseat, cushioned rocker, an inviting stacked stone gas log fireplace,
                    and a 43 inch flat screen high definition TV with DVD, DirecTV and Sony digital surround sound. A gorgeous antler chandelier 
                    hangs in the center of the room, giving the home a lodge decor. The exceptionally equipped large kitchen has maple cabinetry
                    and contains a flat top range, double sinks with garbage disposal, as well as beautiful granite counter tops. The dining area has
                    a wonderfully crafted log table and six log chairs, as well as a smaller antler chandelier. The first bedroom on the left (main level)
                    has a queen-size log bed with matching nightstands and dresser and a flat screen tv. The second bedroom, also located on the main level,
                    has a queen-size bed, a flat screen TV and features large picture windows that frame the spectacular view! The large master suite is located
                    upstairs and is luxuriously appointed with a king-size log bed, vaulted ceilings, a flat screen TV. Your private bath features double
                    sinks and a romantic sitting area overlooking the gorgeous view. An open loft game room is furnished with a queen sized futon, 
                    a foosball table and a number of popular board games. The loft is a great place to gather with family and friends. For more action 
                    head downstairs, there you will find another game room complete with a pool table, a flat screen TV, and plenty of seating. From the 
                    lower level, there are French doors leading to another patio with rockers and the hot tub. As an added convenience there is a bathroom 
                    and full-size laundry room on this level. Elegantly and tastefully decorated with many thoughtful details, at Breathtaking you will enjoy the 
                    experience of the Great Smoky Mountains immersed in luxury and comfort.
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock %}