{% extends 'breath/layout.html' %}
{% block title %} Breathtaking Gallery Sevierville TN {% endblock %}
{% block content %}
<section id="about-1" data-type="background" data-speed="3">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="header-text">
                            <h1>Simply Breathtaking Cabin</h1>
                            <p class="lead">Sevierville Tn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
<section id="gallery-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-5">
                <h1 class="text-info">Breathtaking Gallery</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-1 mt-5 mb-5">
                <div class="card card-raised page-carousel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            {% load static %}
                            <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                            <p>Somewhere</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                                {% load static %}
                                <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                <p>Somewhere</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                {% load static %}
                                <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                <p>Somewhere</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                {% load static %}
                                <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                <p>Somewhere</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                    {% load static %}
                                    <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    <p>Somewhere</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    {% load static %}
                                    <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    <p>Somewhere</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    {% load static %}
                                    <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    <p>Somewhere</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                        {% load static %}
                                        <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                        <p>Somewhere</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        {% load static %}
                                        <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                        <p>Somewhere</p>
                                        </div>
                                    </div>
                            <div class="carousel-item">
                                    {% load static %}
                                    <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    <p>Somewhere</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                        {% load static %}
                                        <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                        <p>Somewhere</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        {% load static %}
                                        <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                        <p>Somewhere</p>
                                        </div>
                                    </div>
                                <div class="carousel-item">
                                        {% load static %}
                                        <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                        <p>Somewhere</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                            {% load static %}
                                            <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                            <div class="carousel-caption d-none d-md-block">
                                            <p>Somewhere</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            {% load static %}
                                            <img class="d-block img-fluid" src="{% static 'breath/img/DSC_2150_DxO.jpg' %}" alt="First slide">
                                            <div class="carousel-caption d-none d-md-block">
                                            <p>Somewhere</p>
                                            </div>
                                        </div>
                    </div>
                    
                        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}