{% extends 'breath/layout.html' %}
{% block title %} Breathtaking Gallery Sevierville TN {% endblock %}
{% block content %}

<section id="home-1" data-type="background" data-speed="3">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <div class="header-text">
                        <h1>Simply Breathtaking Cabin</h1>
                        <p class="lead">Sevierville Tn.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<section id="home-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h3>About Breathtaking</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ipsum facilis ad ipsa ex voluptates! Dolore, neque doloremque vero harum cum explicabo est voluptatem dignissimos blanditiis! Quo a deserunt blanditiis.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}