<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'breath/fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'breath/assets/css/paper-kit.min.css' %}">
<link rel="stylesheet" href="{% static 'breath/assets/css/app.css' %}">
<link rel="stylesheet" href="{% static 'breath/assets/scss/app.css' %}">
<title>{% block title %}Breathtaking{% endblock %}</title>
</head>
<body>

    {% include 'breath/partials/_navbar.html' %}
    {% block content %}{% endblock %}

    {% if 'id' in request.session %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a href="/logout" class="btn btn-danger btn-round">Logout</a>
            </div>
        </div>
    </div>
    {% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'breath/assets/js/paper-kit.min.js' %}"></script>
<script src="{% static 'breath/assets/js/parallax.js' %}"></script>
<script>
        function initMap() {
          var breath = {lat: 35.712, lng: -83.617};
  
          // Create a map object and specify the DOM element
          // for display.
          var map = new google.maps.Map(document.getElementById('map'), {
            center: breath,
            zoom: 10
          });
  
          // Create a marker and set its position.
          var marker = new google.maps.Marker({
            map: map,
            position: breath,
            title: 'Breathtaking Cabin'
          });
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoG7rCAnPh_0sP9qLwx05fp5x8p28AL78&callback=initMap" async defer></script>
</body>
</html>